/* div1 {
  display: inline-block;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}

div2{
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

div3{
  display: inline-block;
  float: right;
  margin-right: 50px;
} */

.column1 {
  float: left;
  width: 33.33%;
  margin-left: 20px;
}

.column2 {
  float: left;
  width: 33.33%;
}

.column3{
  text-align: right;
  margin-right: 20px;
}

.top::after {
  content: "";
  clear: both;
  display: table;
}

.top{
  font-size: 10px;
  background-color: #FF5733;
}

.news{
  background-color: #beff33;
  width: 25%;
  text-align: center;
  height: 100%;
  display: inline-block;
}

.newsData{
  font-size: 10px;
  border-style: inset 
}

.investments{
  background-color: #33d3ff;
  width: 75%;
  text-align: center;
  height: 100%;
  display: inline-block;
}
